.goalSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 150px 0;

    .left {
        max-width: 497px;

        h2 {
            margin: 20px 0 40px;
        }
    }

    .right {
        display: flex;
        flex-direction: column;
        gap: 70px;

        .card {
            display: flex;
            align-items: center;
            gap: 30px;
            margin-right: 90px;

            >div {
                max-width: 391px;
            }

            img {
                width: 47px;
                height: 53px;
            }

            h4 {
                margin-bottom: 10px;
                color: #414D44;
                font-weight: 500;
                font-size: 20px;
                line-height: 100%;

            }
        }


    }

    .right>div:nth-child(2) {
        margin-left: 90px;
    }
}

@media (max-width: 968px) {
    .goalSection { 
        flex-direction: column;
        padding: 80px 20px;
    }

    .left {
      margin-bottom: 50px;
       h2 {
            margin: 20px 0 !important;
        }
    }

    .card {
        flex-direction: row;
        margin-right: 0;
    }

    .right>div:nth-child(2) {
        margin-left: 0 !important;
    }
}
