.partnersSection {
    .texts {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
            max-width: 530px;
            margin-bottom: 20px;
        }

        .right {
            max-width: 604px;

            p {
                margin: 10px 0 50px;
            }
        }

    }

    .cards {
        display: flex;
        padding: 100px 0 150px;
        flex-wrap: wrap;
        gap: 30px;

        .card {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            max-width: 286px;
            min-width: 180px;
            padding: 15px;
            height: 114px;
            line-height: 100%;
            letter-spacing: 0%;
            border-radius: 16px;
            box-shadow: 0px 0px 4px 0px #3f6f001c;

            >div {
                align-items: center;
                gap: 10px;
                display: flex;
                font-weight: 500;
                font-size: 16px;

            }

            img {
                width: 32px;
                height: 32px;
                border-radius: 100%;

            }


        }
    }

    .popUp {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        z-index: 10000;
        width: 100%; 
        top: 0;
        left: 0;
        overflow: hidden;
        background-color: rgba(0, 0, 0, 0.281);
        height: 100%;

        .content {margin: 20px;
            position: relative;
            padding: 40px;
            width: 660px;
            background-color: white;
            height: 318px;
            border-radius: 16px;
            box-shadow: 0px 0px 4px 0px #3E6F000A;

            >div {
                display: flex;
                gap: 20px
            }

            h2 {
                font-weight: 500;
                font-size: 20px;
                margin-bottom: 10px;
            }

            .popUpButtons {
                margin-top: 20px;
                display: flex;
                justify-content: space-between;
                gap: 20px;

                button {
                    width: 50%;
                }
            }

            img {
                border-radius: 100%;
                width: 60px;
                height: 60px;
            }
        }
    }

}

h5 {
    border-radius: 4px;
    width: 64px;
    padding: 5px;
    color: #3E6F00;
    background-color: #f0f4eb;
    font-weight: 500;
    font-size: 8px;
    text-transform: uppercase;

}

@media (max-width: 968px) {
    .partnersSection {
        padding: 20px;

        .texts {
            display: block;

            h2,
            .right {
                width: 100% !important;
            }

            p {
                padding: 20px 0 !important;
            }
        }

        .cards {
            padding: 50px 10px;

            .card {
                width: 30% !important;
            }
        }
    }
}