.strategySection { padding: 100px 0 200px;
    .top {
        width: 374px;
        h3{
            margin-bottom: 10px;
        }
    }

    .bottom {
        width: 100%;
        display: flex;
        gap: 50px;
        justify-content: end;
    }

    .bottom div {
        width: 365px;
    }

    .bottom h3 {
        margin: 40px 0 20px;
        font-weight: 800;
        font-size: 20px;
        line-height: 100%;
        letter-spacing: 0%;

    }
}