.footer {
    background-color: #f7f9f5;
    width: 100%;
    padding: 100px 0 20px;
    padding-bottom: 20px;

    .container {
        display: flex;
        max-width: 1240px;
        min-height: 401px;
        justify-content: space-between;
        flex-direction: column;
        margin: 0 auto;

        .information,
        .contact {
            display: flex;
            justify-content: space-between;
        }

        .left {
            color: #6E9E37;


            p {
                max-width: 310px;
                margin: 25px 0;
            }

            ul {
                display: flex;
                gap: 22px;
                font-size: 18px;
            }

            img {
                width: 147px;
                height: 40px;

            }

        }

        .right {
            color: #414D44;
            display: flex;

            gap: 120px;

            h4 {

                font-weight: 700 !important;
                margin-bottom: 40px;
            }

            h4,
            li {
                font-weight: 400;
                font-size: 18px;
                line-height: 20px;
                letter-spacing: 0px;

            }

            li {
                margin-bottom: 20px;
                display: flex;
                gap: 10px;
            }

            span {
                font-size: 18px;
                color: #170F49;
            }
        }

        p {
            font-weight: 400;
            font-size: 18px;
            line-height: 30px;

            span {
                color: #6E9E37;
            }
        }
    }
}

@media (max-width: 768px) {
    .footer {
        padding: 20px;
    }

    .container p,
    li {
        font-size: 16px;
    }

    .left {
        margin-bottom: 40px;
    }

    .contact,
    .information {
        flex-direction: column;
    }
}

@media (max-width: 518px) {
    .left li{
margin: 15px !important;
    }
    .right ul li ,p{
        padding: 0 !important;
        margin: 0 !important;
        line-height: 20px !important;
        font-size: 10px !important;
    }

    ul {
        gap: 0 !important;
    }

    h4 {
        margin: 10px 0 !important;
    }

    .right {
        justify-content: space-between !important;
        gap: 0px !important
    }
}
